

@page "/membresias/edit/{id:int}" 

@inject NavigationManager navigationManager 

@inject IRepository repository 

@inject SweetAlertService swal 

  

  

<h3>OwnerEdit</h3> 

  

@if(Membresia is null) 

{ 

    <p>Cargando ...</p> 

} 

else 

{ 

    <MembresiasForm @ref="MembresiasForm"  Membresia="Membresia" OnSubmit="Edit" ReturnAction="Return" /> 

} 

  

  

  

@code { 

  

    private Membresia Membresia; 

    private MembresiasForm MembresiasForm; 

    [Parameter] 

    public int Id { get; set; } 

  

    protected override async Task OnInitializedAsync() 

    { 

        var responseHTTP = await repository.GetAsync<Membresia>($"api/membresias/{Id}"); 

  

        if (responseHTTP.Error) 

        { 

            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound) 

            { 

                navigationManager.NavigateTo("membresias"); 

            } 

            else 

            { 

                var messageError = await responseHTTP.GetErrorMessageAsync(); 

                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error); 

            } 

        } 

        else 

        { 

            Membresia = responseHTTP.Response; 

        } 

    } 

  

    private async Task Edit() 

    { 

        var responseHTTP = await repository.PutAsync("api/membresias", Membresia); 

  

        if (responseHTTP.Error) 

        { 

            var mensajeError = await responseHTTP.GetErrorMessageAsync(); 

            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error); 

        } 

        else 

        { 

            MembresiasForm!.FormPostedSuccessfully = true; 

            navigationManager.NavigateTo("owners"); 

        } 

    } 

  

    private void Return() 

    { 

        navigationManager.NavigateTo("owners"); 

    } 

} 