

@page "/asignacions/edit/{id:int}" 

@inject NavigationManager navigationManager 

@inject IRepository repository 

@inject SweetAlertService swal 

  

  

<h3>Asignacions Edit</h3> 

  

@if(asignacion is null) 

{ 

    <p>Cargando ...</p> 

} 

else 

{ 

    <AsignacionsForm @ref="asignacionsForm"  asignacion="asignacion" OnSubmit="Edit" ReturnAction="Return" /> 

} 

  

  

  

@code { 

  

    private Asignacion asignacion; 

    private AsignacionsForm asignacionsForm; 

    [Parameter] 

    public int Id { get; set; } 

  

    protected override async Task OnInitializedAsync() 

    { 

        var responseHTTP = await repository.GetAsync<Asignacion>($"api/asignacions/{Id}"); 

  

        if (responseHTTP.Error) 

        { 

            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound) 

            { 

                navigationManager.NavigateTo("asignacions"); 

            } 

            else 

            { 

                var messageError = await responseHTTP.GetErrorMessageAsync(); 

                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error); 

            } 

        } 

        else 

        { 

            asignacion = responseHTTP.Response; 

        } 

    } 

  

    private async Task Edit() 

    { 

        var responseHTTP = await repository.PutAsync("api/asignacions", asignacion); 

  

        if (responseHTTP.Error) 

        { 

            var mensajeError = await responseHTTP.GetErrorMessageAsync(); 

            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error); 

        } 

        else 

        { 

            asignacionsForm!.FormPostedSuccessfully = true; 

            navigationManager.NavigateTo("asignacions"); 

        } 

    } 

  

    private void Return() 

    { 

        navigationManager.NavigateTo("asignacions"); 

    } 

} 