@page "/asignacions"





@using CurrieTechnologies.Razor.SweetAlert2

@using CoWorkSpace.Shared.Entidades

@using CoWorkSpace.WEB.Repositories

@using CoWorkSpace.WEB.Shared



@inject IRepository repository

@inject NavigationManager navigationManager

@inject SweetAlertService swal



<h3>Asignaciones</h3>





<div class="mb-3">



    <a class="btn btn-primary" href="/asignacions/Create">Crear Asignacion</a>

</div>





<GenericList MyList="asignacions">

    <Body>

        <table class="table table-striped">

            <thead>

                <tr>

                    <th>Asignaciones de elementos</th>

                </tr>



            </thead>

            <tbody>

                @foreach (var asignacion in asignacions)

                {

                    <tr>

                        <td>

                            @asignacion.RecursoId

                        </td>



                        <td>

                            @asignacion.EspacioId

                        </td>

                        <td>

                            <a href="/Asignacions/edit/@asignacion.Id" class="btn btn-warning btn-sm"><i class="oi oi-pencil" /> Editar</a>

                            <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(asignacion))><i class="oi oi-trash" /> Borrar</button>





                        </td>



                    </tr>

                }

            </tbody>







        </table>



    </Body>



</GenericList>



@code {



    public List<Asignacion> asignacions { get; set; }



    protected async override Task OnInitializedAsync()

    {

        await Load();

    }



    private async Task Load()

    {

        var responseHppt = await repository.GetAsync<List<Asignacion>>("/api/asignacions");

        asignacions = responseHppt.Response!;

    }



    private async Task DeleteAsync(Asignacion asignacion)

    {

        var result = await swal.FireAsync(new SweetAlertOptions

            {

                Title = "Confirmación",

                Text = "¿Esta seguro que quieres borrar el registro?",

                Icon = SweetAlertIcon.Question,

                ShowCancelButton = true

            });



        var confirm = string.IsNullOrEmpty(result.Value);



        if (confirm)

        {

            return;

        }



        var responseHTTP = await repository.DeleteAsync<Asignacion>($"api/asignacions/{asignacion.Id}");



        if (responseHTTP.Error)

        {

            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)

            {

                navigationManager.NavigateTo("/");

            }

            else

            {

                var mensajeError = await responseHTTP.GetErrorMessageAsync();

                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);

            }

        }

        else

        {

            await Load();

        }

    }

}

