@using CoWorkSpace.Shared.Entidades



@inject SweetAlertService swal



<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>

<EditForm EditContext="editContext" OnSubmit="OnSubmit">
    <DataAnnotationsValidator />

    <div class="mb-3">

        <label>Fecha Reserva</label>



        <div>

            <!--cambiar el width y el parametro de la clase-->

            <InputDate @bind-Value="reserva.FechaReserva" />

            <ValidationMessage For="@(()=>reserva.FechaReserva)" />

        </div>


    </div>

    <div class="mb-3">

        <label>Hora Inicio:</label>


        <div>

            <input type="time" @bind="reserva.HoraInicio" class="form-control"  />
            <ValidationMessage For="@(()=>reserva.HoraInicio)" />

        </div>
       

    </div>

    <div class="mb-3">

        <label>Hora Final:</label>


        <div>

            <input type="time"  @bind="reserva.HoraFinal" class="form-control"  />
            <ValidationMessage For="@(()=>reserva.HoraFinal)" />



        </div>




    </div>
    <button class="btn btn-primary" type="submit">Guardar</button>
    <button class="btn btn-success" type="button" @onclick="ReturnAction">Regresar</button>


</EditForm>


@code {



    //NOTA: SE CAMBIO EL BOTON DE REGRESAR



    private EditContext editContext = null;



    protected override void OnInitialized()

    {

        editContext = new(reserva);

    }


    [EditorRequired]

    [Parameter]

    public Reserva reserva { get; set; }


    [EditorRequired]

    [Parameter]

    public EventCallback OnSubmit { get; set; }



    [EditorRequired]

    [Parameter]

    public EventCallback ReturnAction { get; set; }


    public bool FormPostedSuccessfully { get; set; } = true; // ESTO SE MODIFICO A TRUE





    private async Task OnBeforeInternalNavigation(LocationChangingContext context)

    {

        var formWasEdited = editContext.IsModified();



        if (!formWasEdited || FormPostedSuccessfully) //SE AGREGO ESTA LOGICA

        {

            return;

        }



        //EL PROBLEMA RADICA EN QUE NUNCA ENTRA AQUI Y EN LA WEB NO MUESTRA ESTE MENSAJE



        var result = await swal.FireAsync(new SweetAlertOptions

            {

                Title = "Confirmación",

                Text = "¿Deseas abandonar la página y perder los cambios?",

                Icon = SweetAlertIcon.Warning,

                ShowCancelButton = true

            });



        var confirm = !string.IsNullOrEmpty(result.Value);



        if (confirm)

        {

            return;

        }



        context.PreventNavigation();

    }

}
