

@page "/reservas/edit/{id:int}" 

@inject NavigationManager navigationManager 

@inject IRepository repository 

@inject SweetAlertService swal 

  

  

<h3>Reserva Edit</h3> 

  

@if(Reserva is null) 

{ 

    <p>Cargando ...</p> 

} 

else 

{ 

    <ReservasForm @ref="ReservasForm"  reserva="Reserva" OnSubmit="Edit" ReturnAction="Return" /> 

} 

  

  

  

@code { 

  

    private Reserva Reserva; 

    private ReservasForm ReservasForm; 

    [Parameter] 

    public int Id { get; set; } 

  

    protected override async Task OnInitializedAsync() 

    { 

        var responseHTTP = await repository.GetAsync<Reserva>($"api/reservas/{Id}"); 

  

        if (responseHTTP.Error) 

        { 

            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound) 

            { 

                navigationManager.NavigateTo("reservas"); 

            } 

            else 

            { 

                var messageError = await responseHTTP.GetErrorMessageAsync(); 

                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error); 

            } 

        } 

        else 

        { 

            Reserva = responseHTTP.Response; 

        } 

    } 

  

    private async Task Edit() 

    { 

        var responseHTTP = await repository.PutAsync("api/reservas", Reserva); 

  

        if (responseHTTP.Error) 

        { 

            var mensajeError = await responseHTTP.GetErrorMessageAsync(); 

            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error); 

        } 

        else 

        { 

            ReservasForm!.FormPostedSuccessfully = true; 

            navigationManager.NavigateTo("reservas"); 

        } 

    } 

  

    private void Return() 

    { 

        navigationManager.NavigateTo("reservas"); 

    } 

} 